# Enable directory views on this directory
#
# Options +Indexes

# Strong htaccess protection. Don't let anyone read this file
#
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

# Going to use Apache mod_autoindex, so test for its presence.
<IfModule mod_autoindex.c>
# SET INDEX OPTIONS
IndexOptions IgnoreCase FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=* SuppressHTMLPreamble SuppressIcon

# The Directories and files found in the main output directory
#

AddDescription "Beam Switch Yard to End of Dump line geometry" BSY-LCLS.print
AddDescription "Beam Switch Yard to End of Safety Dump geometry " BSY-SFTDMP.print
AddDescription "Gun Spectometer line geometry " GSPEC.print
AddDescription "135 MeV Spectrometer line geometry " SPEC.print

AddDescription "Beam Switch Yard to End of Dump line " BSY-LCLS_survey.tape
AddDescription "Gun to main dump survey" LCLS_survey.tape
AddDescription "Gun Spectometer line survey " GSPEC_survey.tape
AddDescription "135 MeV Spectrometer line survey " SPEC_survey.tape

AddDescription "Gun to Dump optics plots (PDF)" LCLS.pdf
AddDescription "Gun to end Gun Spectrometer line optics plots (PDF)" GSPEC.pdf
AddDescription "Gun to end 135 Mev Spectrometer line optics plots (PDF)" SPEC.pdf
AddDescription "Beam Switch Yard to End of Safety Dump optics " BSY-SFTDMP.pdf

# The Descriptions of files found in the opt subdirectrory
AddDescription "Beamline element/PV topology in dot" .dot
AddDescription "Beamline element/PV topology browsable map" *_map.pdf
AddDescription "Image icon for device map" *_mapicon.gif
AddDescription "Image icon for optics plots" *_opticsicon.png
AddDescription "Element/PV line grouping" *_lines.dat

AddDescription "R matrices" *_rmat.tape
AddDescription "Twiss parameters" *_twiss.tape
AddDescription "Optics plots (postscript)" *.ps
AddDescription "MAD definitions" *.xsif
AddDescription "MAD commands" *.mad8

AddDescription "Element to device name mapping" *devices.dat

AddDescription "Beamline maps, devices lists, web page images etc" opt
AddDescription "MAD input files" src
AddDescription "MAD execution log file" .echo

AddAlt "MAD" *.print *.tape
</IfModule>

